* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.collection-item {
    font-size: 12px;
    color: brown;
    font-weight: bold;
}

p,
button {
    margin-top: 20px;
}

a {
    color: #26a69a;
}

a:hover {
    text-decoration: underline;
}

a.waves-effect.waves-light.btn:hover {
    text-decoration: none;
}

[v-cloak] {
    display: none;
}
